// KEYFRAME ANIMATIONS
@keyframes carousel {
    from {
        padding-left: 500px;
        opacity: 0;
    }
    to {
        padding-left: 0;
        opacity: 1;
    }
}

@keyframes openImage {
    from {
        top: -1000px; 
        opacity: 0;
    }
    to {
        top: 0;         
        opacity: 1;
    }
}

@keyframes closeImage {
    from {
        top: 0px; 
        opacity: 1;
    }
    to {
        top: -1000px;         
        opacity: 0;
    }
}

@keyframes moveImageRight {
    from {
        margin-right: -1000px; 
        opacity: 0;
    }
    to {
        margin-right: 0;         
        opacity: 1;
    }
}

@keyframes moveImageLeft {
    from {
        margin-left: -1000px; 
        // opacity: 0;
    }
    to {
        margin-left: 0px;         
        // opacity: 1;
    }
}


@keyframes animatetop {
    from {
        left: -1000px;
        opacity: 0
    }
    to {
        left: 0;
        opacity: 1
    }
}

@keyframes animatestop {
    from {
        left: 0;
        opacity: 1
    }
    to {
        left: -1000px;
        opacity: 0
    }
}

@keyframes flowRight {
    from {
        margin-right: -250px;
        opacity: 0;
    }
    to {
        margin-right: 0;
        opacity: 1;
    }
}

@keyframes flowLeft {
    from {
        margin-left: -250px;
        opacity: 0;
    }
    to {
        margin-left: 0;
        opacity: 1;
    }
}

@keyframes flowUp {
    from {
        margin-top: 250px;
        opacity: 0;
    }
    to {
        margin-top: 0;
        opacity: 1;
    }
}

@-webkit-keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(59, 54, 54, 0);
    }
}

@-moz-keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(59, 54, 54, 0);
    }
}

@-ms-keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(59, 54, 54, 0);
    }
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(59, 54, 54, 0);
    }
}

// BUTTON ANIMATIONS
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.pulse-button {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none;
}

.pulse-button:hover {
    box-shadow: 0 0 0 0 $portfolio-gray;
    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}