// Main Colors
$primary-color: #E6E6FA;
$secondary-color: #222140;
$tertiary-color: #CAA8F5;
$icon-color:  #8884FF;
$charcoal: #3A405A;

// Basic Colors
$portfolio-black: #1C191F;
$portfolio-white: #fefefe;
$portfolio-gray: #5D6278;