* {
    box-sizing: border-box;
}

a {
    color: $portfolio-white;
    text-decoration: none;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
  }

// CUSTOM SCROLL BAR
::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background: $primary-color;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: $tertiary-color;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: $secondary-color;
}

// Custom element selection
*::selection {
    color: $tertiary-color;
}