.home-container {
    width: 100%;
    height: 100%;
    background-color: $primary-color; // background-image: linear-gradient(to top, $tertiary-color, $primary-color);
}

.header-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    height: 100%;
}

.header-content {
    position: absolute;
    margin-top: -350px;
    width: 100%;
    text-align: center;
}

.my-name {
    font-family: $header-font;
    font-size: 100px;
    text-shadow: 4px 4px 5px rgb(56, 42, 252);
}

.my-desc {
    margin: auto;
    width: 50%;
    font-family: $primary-font;
    font-size: 25px;
}

.mountain-img {
    margin-top: -30%;
    margin-right: -10px;
    margin-left: -10px;
}

#top-web-projects-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: -5px;
    padding: 25px;
    width: 100%;
    height: 100vh;
    background-color: $primary-color;
}

#top-graphic-design-projects-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: -5px;
    width: 100%;
    height: 100vh;
    background-color: $tertiary-color;
}

#best-photographs-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: -5px;
    width: 100%;
    height: 100vh;
    background-color: $primary-color;
}

.section-header {
    font-family: $primary-font;
    margin: auto;
    padding: 5px 20px;
    width: 100%;
    font-size: 50px;
    text-align: center;
    color: $charcoal;
    border: 4px solid $charcoal;
}

.home-projects-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-content: center;
    align-items: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.project {
    display: none;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.top-project-title {
    padding-bottom: 2rem;
    font-family: $primary-font;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.top-project-img {
    width: 400px;
    height: 400px;
}

.top-project-desc {
    margin: auto;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    width: 400px;
    height: 150px;
    text-align: left;
}

.top-project-btn {
    padding: 10px;
    width: 100%;
    color: $portfolio-white;
    background-color: $secondary-color;
    text-align: center;

    &:hover {
        cursor: pointer;
    }
}

@media screen and (max-width: 1200px) {
    .project {
        margin: auto;
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;
    }

    .top-project-title {
        padding-bottom: 2rem;
        font-family: $primary-font;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
    }

    .top-project-img {
        margin: auto;
        width: 200px;
        height: 200px;
    }

    .top-project-desc {
        margin: auto;
        padding-top: 1.5rem;
        padding-bottom: 2rem;
        width: 200px;
        height: 250px;
        text-align: left;
    }

    .top-project-btn {
        padding: 10px;
        width: 100%;
        color: $portfolio-white;
        background-color: $secondary-color;
        text-align: center;
        &:hover {
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 900px) {
    .header-content, .mountain-img, .header-container {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .home-container {
        margin-top: 100px;
    }

    .header-container {
        height: 100%;
        background-color: $primary-color;
    }

    .mountain-img {
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
    }

    #top-web-projects-container {
        width: 100%;
        height: 100%;
    }

    .home-projects-container {
        flex-direction: column;
        width: 100%;
        height: 1050px;
    }

    .section-header {
        width: 100%;
        padding: 5px 0px;
    }

    .project {
        display: block;
        margin: auto;
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    .top-project-title {
        padding-bottom: 2rem;
        font-family: $primary-font;
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
    }

    .top-project-img {
        margin: auto;
        width: 400px;
        height: 400px;
    }

    .top-project-desc {
        margin: auto;
        padding-top: 1.5rem;
        padding-bottom: 2rem;
        width: 400px;
        height: 150px;
        text-align: left;
    }

    .top-project-btn {
        padding: 10px;
        width: 100%;
        color: $portfolio-white;
        background-color: $secondary-color;
        text-align: center;

        &:hover {
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 500px) {
    .project {
        display: block;
        margin: auto;
        padding-top: 5rem;
        padding-bottom: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;
    }

    .top-project-title {
        padding-bottom: 2rem;
        font-family: $primary-font;
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
    }

    .top-project-img {
        margin: auto;
        width: 300px;
        height: 300px;
    }

    .top-project-desc {
        margin: auto;
        padding-top: 1.5rem;
        padding-bottom: 2rem;
        width: 300px;
        height: 200px;
        text-align: left;
    }

    .top-project-btn {
        padding: 10px;
        width: 100%;
        color: $portfolio-white;
        background-color: $secondary-color;
        text-align: center;

        &:hover {
            cursor: pointer;
        }
    }
}