.icon-medium {
  font-size: 2rem;
}

.icon-medium:hover {
  cursor: pointer;
  color: $secondary-color;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.particles {
  z-index: 100;
}

.disable-link {
  pointer-events: none;
  background-color: $portfolio-black;
}

.bold-text {
  font-weight: bolder;
}

.light-text {
  font-weight: lighter;
}

@for $i from 1 through 100 {
  .padding-#{$i} {
    padding: $i + px;
  }
  .padding-left-#{$i} {
    padding-left: $i + px;
  }
  .padding-right-#{$i} {
    padding-right: $i + px;
  }
  .padding-top-#{$i} {
    padding-top: $i + px;
  }
  .padding-bottom-#{$i} {
    padding-bottom: $i + px;
  }
  .font-size-#{$i} {
    font-size: $i + px;
  }
}