.web-development-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
    height: 100%;
}

.projects-container {
    display: none;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.project-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.project-img {
    width: 250px;
    height: 250px;
}

.project-description-container {
    display: flex;
    flex-direction: column;
    flex: 3;
    justify-content: flex-start;
    padding: 25px;
}

.project-title {
    font-size: 2rem;
    font-weight: bold;
}

.project-description {
    font-size: 1.2rem;
    font-weight: lighter;
    flex-wrap: wrap;
}

.btn-container {
    padding-top: 25px;
}

.web-btn {
    color: $portfolio-white;
    background-color: $secondary-color;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.web-btn:hover {
    cursor: pointer;
}

.arrowFlex {
    display: flex;
    flex-direction: initial;
    flex: .1;
    justify-content: center;
    align-items: center;
    color: $portfolio-black;
}

@media only screen and (max-width: 600px) {
    .project-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 100%;
        padding-top: 1.9rem;
    }
}