.description {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    color: #1C191F;
    margin: auto;
    padding: 1rem;
    text-indent: 50px;
    text-align: left;
}