/*
*Nav-Link: 4 links in the middle 
*Contact-Link: Contact link on the right
*/

.nav_link {
    color: #000;
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.15em;
}

.nav_link:hover {
    color: #000;
}

.nav_link:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.nav_link::before {
    content: "";
    position: absolute;
    visibility: hidden;
    background-color: #000;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.nav_link:active {
    color: #fab;
    padding-bottom: 5px;
    border-bottom: 2px solid currentColor
}

/* ______________________________________________________ */

.nav_contact {
    color: #000;
    position: relative;
    padding-bottom: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.15em;
    cursor: pointer;
}

.nav_contact:hover {
    color: #000;
}

.nav_contact:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.nav_contact::before {
    content: "";
    position: absolute;
    visibility: hidden;
    background-color: #000;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

/* _____________________________________________________ */

.nav_logo {
    color: #000;
    position: relative;
    padding-bottom: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.15em;
    cursor: pointer;
}

.nav_logo:hover {
    color: #000;
}

.nav_logo:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.nav_logo::before {
    content: "";
    position: absolute;
    visibility: hidden;
    background-color: #000;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

/* ______________________________________________________ */

/* Add Animation */
@keyframes animatetop {
    from {left: -1000px; opacity: 0}
    to {left: 0; opacity: 1}
}

@keyframes animatestop {
    from {left: 0; opacity: 1}
    to {left: -1000px; opacity: 0}
}

/* ______________________________________________________ */

.icon {
    color: #000;
    padding: 5px;
    position: relative;
    text-decoration: none;
    font-size: 1rem;
}

.icon:hover {
    color: #fab;
}

.icon:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.icon::before {
    content: "";
    position: absolute;
    visibility: hidden;
    background-color: #fab;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

/* _________________________________________ */

.modal-active {
    z-index: 1; /* Sit on top */
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    overflow: auto; /* Enable scroll if needed */
    width: 85vw; /* Full width */
    height: 100%; /* Full height */
    left: 0;
    top: 0;
    background-color: #fff; /* Fallback color */
    box-shadow: 5px 0px 20px #fab;
}
