.portfolio-link {
    color: #000;
    position: relative;
    padding-bottom: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    cursor: pointer;
}

.portfolio-link:hover {
    color: #000;
}

.portfolio-link:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.portfolio-link::before {
    content: "";
    position: absolute;
    visibility: hidden;
    background-color: #000;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.divider {
    stroke-width: 20px;
}