// Main Colors
$primary-color: #8884FF;
$secondary-color: #222140;
$tertiary-color: #CAA8F5;
$charcoal: #3A405A;

$portfolio-violet: #593C8F;
$portfolio-light-violet: #8884FF;
$portfolio-pale-violet: #CAA8F5;

// Basic Colors
$portfolio-black: #1C191F;
$portfolio-white: #fefefe;