.graphic-design-container {
    width: 100%;
    height: 100%;
}

.img-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
}

.img-grid img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.gd-item {
    position: relative;
    width: 100%;
}

.gd-item-img {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}

.gd-item-inner {
    position: absolute;
    padding: 25px;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: $portfolio-black;
    background-color: $portfolio-black;
    opacity: 0;
    transition: 400ms;
    text-align: center;
}

.gd-item-inner:hover {
    cursor: pointer;
    opacity: 1;
}

.gd-item-info {
    color: $portfolio-white;
    pointer-events: none;
}

.info-title {
    padding-bottom: 10px;
    font-size: 1.5rem;
}

.info-desc {
    font-size: 1rem;
}

// GRAPHIC DESIGN MODAL ____________________________________________ 
.g-modal {
    z-index: 1;
    /* Sit on top */
    overflow: hidden;
    position: fixed;
    /* Stay in place */
    display: none;
    /* Hidden by default */
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    top: 0;
    left: 0;
    color: $portfolio-white;
}

.modal-padding-right {
    padding-right: 10px;
}

.modal-padding-left {
    padding-left: 10px;
}

.modalFlex-1 {
    display: flex;
    flex-direction: initial;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
}

.modalFlex-2 {
    display: flex;
    flex-direction: initial;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
}

.g-modal-content {
    display: none;
    flex-direction: column;
    flex: 1;
    margin: auto;
    width: 100%;
    /* Could be more or less, depending on screen size */
    height: 100%;
    background-color: $portfolio-white;
}

.g-modal-top {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding-right: 20px;
    padding-left: 20px;
}

.g-modal-middle {
    display: flex;
    flex-direction: column;
    flex: 8;
}

.g-modal-bottom {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.gd-modal-close {
    align-items: center;
    color: $portfolio-white;
    font-size: 50px;
    font-weight: bold;
}

.gd-modal-close:hover,
.gd-modal-close:focus {
    cursor: pointer;
    color: $secondary-color;
    text-decoration: none;
}

.gd-modal-moreInfo {
    color: $portfolio-white;
    font-size: 35px;
    font-weight: bold;
}

.gd-modal-moreInfo:hover {
    cursor: pointer;
    color: $secondary-color;
}

.gd-tooltip-right {
    margin-left: 5px;
    padding: 5px 10px;
    color: $portfolio-white;
    background-color: $portfolio-black;
    font-size: 16px;
    font-weight: lighter;
}

.gd-modal-moreInfo .gd-tooltip-right {
    visibility: hidden;
}

.gd-modal-moreInfo:hover .gd-tooltip-right {
    visibility: visible;
}

.expanded-gd-img {
    display: flex;
    flex-direction: initial;
    flex: 6;
    justify-content: center;
    object-fit: cover;
    margin: auto auto;
    height: 85%;
    border: 10px solid $portfolio-white;
}

.gd-modal-project-info {
    display: flex;
    flex-direction: column;
    flex: 3;
    align-items: center;
    padding: 1rem;
}

.gd-modal-info-title {
    font-weight: bold;
    font-size: 2rem;
}

.gd-modal-info-desc {
    font-size: 1.2rem;
}

@media only screen and (max-width: 1000px) {
    .img-grid {
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 600px) {
    .img-grid {
        grid-template-columns: auto;
    }
}