* {
  box-sizing: border-box;
}

.img-grid-row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  .img-grid-column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .img-grid-column img {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    vertical-align: middle;
    margin-top: 8px;
  }

  .img-grid-column img:hover {
    cursor: pointer;
    opacity: 0;
  }

  .gd-item {
    position: relative;
    width: 100%;
  }

  .graphic-d-img {
      display: block;
      margin: 0;
      padding: 0; 
      width: 100%;
      // border: 4px solid $portfolio-black;
  }
 
  .inner {
    position: absolute;
    padding: 25px;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: #222;
    background-color: #1D1D1B; 
    opacity: 0;
    transition: 400ms;
    text-align: center;
}

.inner:hover {
  cursor: pointer;
  // border: 4px solid $portfolio-black;
  opacity: 1;
}

.info {
  color: #fff;
  pointer-events: none;
}

.gd-info-title {
  padding-bottom: 10px;
  font-size: 1.5rem;
}

@media screen and (max-width: 800px) {
  .img-grid-column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .img-grid-column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
  // _______________________________________________

  /* GRAPHIC DESIGN MODAL ____________________________________________ */
  .g-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    overflow: hidden;
    z-index: 1; /* Sit on top */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    color: $portfolio-white;
  }
  
  /* Modal Content/Box */
  .g-modal-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #fefefe;
    margin: auto;
    width: 100%; /* Could be more or less, depending on screen size */
    height: 100%;
  }
  
  .g-modal-top {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding-right: 20px;
    padding-left: 20px;
  }

  /* The Close Button */
  .g-modal-close {
    display: flex;
    flex-direction: initial;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    color: $portfolio-white;
    font-size: 50px;
    font-weight: bold;
  }
  
  .g-modal-close:hover,
  .g-modal-close:focus {
    cursor: pointer;
    color: #fab;
    text-decoration: none;
  }

  .g-modal-moreInfo {
    display: flex;
    flex-direction: initial;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    color: $portfolio-white;
    font-size: 35px;
    font-weight: bold;
  }

  .g-modal-moreInfo:hover {
    cursor: pointer;
    color: #fab;
  }

  
  .expanded-graphic {
    display: flex;
    flex-direction: initial;
    flex: 6;
    justify-content: center;
    margin: auto auto;
    border: 10px solid $portfolio-white;
  }
  
  .g-project-info {
    display: flex;
    flex-direction: column;
    flex: 3;
    align-items: center;
    padding: 1rem;
  }

  .g-info-title {
    font-size: 2rem;
  }

  .g-info-desc {
    font-size: 1.2rem;
  }