.home-container {
    width: 100%;
    height: 100%;
    background-color: $primary-color; // background-image: linear-gradient(to top, $tertiary-color, $primary-color);
}

.header-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    height: 100%;
}

.header-content {
    z-index: 100;
    position: absolute;
    margin-top: -350px;
    width: 100%;
    text-align: center;
}

.my-name {
    font-family: $header-font;
    font-size: 100px;
    text-shadow: 4px 4px 5px rgb(56, 42, 252);
}

.my-desc {
    margin: auto;
    width: 50%;
    font-family: $primary-font;
    font-size: 25px;
}

.mountain-img {
    margin-top: -30%;
    margin-right: -10px;
    margin-left: -10px;
}

#top-web-projects-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: -5px;
    padding: 25px;
    width: 100%;
    height: 100vh;
    background-color: $icon-color;
}

#top-graphic-design-projects-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: -5px;
    width: 100%;
    height: 100vh;
    background-color: $tertiary-color;
}

#best-photographs-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: -5px;
    width: 100%;
    height: 100vh;
    background-color: $primary-color;
}

.section-header {
    margin: auto;
    padding: 5px 20px;
    width: 100%;
    font-size: 50px;
    text-align: center;
    color: $charcoal;
    border: 4px solid $charcoal;
}

.home-projects-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-content: center;
    align-items: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.project {
    display: none;
    padding-left: 50px;
    padding-right: 50px;
}

.circle {
    width: 450px;
    height: 450px;
    background-color: $portfolio-black;
    border-radius: 300px;
}

@media screen and (max-width: 900px) {
    .header-content {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .home-container {
        margin-top: 100px;
    }
    .header-container {
        height: 100%;
        background-color: $primary-color;
    }
    .mountain-img {
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
    }
    #top-web-projects-container {
        width: 100%;
        height: 100%;
        background-color: $icon-color;
    }
    .home-projects-container {
        flex-direction: column;
        width: 100%;
        height: 1050px;
    }
    .section-header {
        width: 100%;
        padding: 5px 0px;
    }
    .project {
        display: block;
        padding-top: 30px;
    }
    .circle {
        width: 300px;
        height: 300px;
    }
}