@import 'colors.import.scss';
@import 'fonts.import.scss';
@import 'styles.import.scss';
@import 'main.import.scss';
@import 'about.import.scss';
@import 'work.import.scss';
@import 'graphicd.import.scss';
