@import 'fonts.import.scss';
@import 'colors.import.scss';
@import 'elements.import.scss';
@import 'styles.import.scss';
@import 'animation.import.scss';
@import 'common.import.scss';
@import 'main.import.scss';
@import 'home.import.scss';
@import 'about.import.scss';
@import 'work.import.scss';
@import 'graphicdesign.import.scss';
@import 'webdev.import.scss';
