.body {
    position: relative;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

.navigation {
    z-index: 1;
    position: absolute;
}

.main-container {
    margin-top: -100px;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: $primary-color;
}