.portfolio-container {
    padding: 3rem;
    height: 100%;
}

.portfolio-links {
    display: flex;
    flex-direction: initial;
    flex: 1;
    justify-content: center;
    margin: auto auto;
    padding-top: 5rem;
    padding-bottom: 1rem;
}

.portfolio-link {
    color: $portfolio-black;
    position: relative;
    padding-bottom: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: lighter;
}

.portfolio-link:hover {
    cursor: pointer;
    color: $portfolio-black;
}

.portfolio-link:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.portfolio-link::before {
    content: "";
    position: absolute;
    visibility: hidden;
    background-color: $portfolio-black;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.portfolio-active {
    padding-bottom: 3px;
    border-bottom: 1px solid $portfolio-black;
}