.main-work-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.portfolio-container {
    padding: 3rem;
    padding-top: 5rem;
    padding-left: 3rem;
    height: 100%;
}

.portfolio-links {
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.portfolio-link {
    position: relative;
    color: #000;
    padding-bottom: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
}

.portfolio-link::before {
    visibility: hidden;
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.portfolio-link:hover {
    cursor: pointer;
}

.portfolio-link:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}